<% provide(:sub_title,"登录") %>
<h1> 登录 </h1>
<div class="row">
    <div class="span6">
        <%= form_for(:session,url:sessions_path) do |f| %>
            <%= f.label :email,'邮箱或用户名' ,class:'login-input'%>
            <%= f.text_field :email ,class:'login-input'%>
            <%= f.label :password,'密码' ,class:'login-input'%>
            <%= f.password_field :password ,class:'login-input'%>
            <br>
            <%= f.submit '登录',class: "btn btn-large btn-primary login-btn-offset"%>
        <% end %>
        <p style='margin-left:90px;'> 新成员？ <%= link_to "现在注册！",root_path %></p>
    </div>
</div>
