

<div class="href-feed-show" >
    <%= link_to item do %>
        <div class="feed-show" style="background-color:<%= notetype_color(item) %>">
                <%=  item.context[0,140] %>
                <div class="feed-timetamp" >
                    <span><%= sc_c_date(item)%></span>
                    <% if item.commented_at != item.created_at %>
                        <i class="feed-timetamp-comment" >
                            <%= sc_uoc_date(item)%>
                        </i>
                    <% end %>
                </div>
        </div>
    <% end %>
</div>
