
<%= form_for(:comment,url:comments_path,html:{multipart:true,id:'comment-commit'}) do |f| %>
    <%= f.text_area :context,class:'feed-area'%>
    <%= f.hidden_field :feed_id,value:curr_feed.id%>
    <div class="feed-btn-contain" style="display:<%= show_btn ? 'block' : 'none' %>;">
        <%= f.submit "评论",class: "btn btn-large btn-primary comment-btn" %>
    </div>
<% end %>
