<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= full_title(yield(:sub_title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render 'layouts/header' %>
      <% flash.each do |key,value| %>
        <div class="alert alert-<%= key %>">
            <%= value %>
        </div>
      <% end %>
      <div class="container-fluid">
      <!-- <div class="container"> -->

         <%= yield %>
         <%= debug(params) unless Rails.env.production? || true %>
     </div>
     <%= render 'layouts/add_note' %>
     <div id="showdiv"></div>
  </body>
</html>
